fastapi
uvicorn[standard]
sqlalchemy
asyncpg
psycopg2-binary
alembic
greenlet
pydantic[email]
pydantic-settings
python-dotenv
python-jose[cryptography]
passlib[bcrypt]
bcrypt
python-multipart

requests
cloudinary
PyJWT


